<div class="d-flex h-100 modify-conditions general" #contentContainer>
  <div class="d-flex flex-column w-100 h-100 scroll-item">
    <div #leftPanelHeader class="d-flex header pb-1 pt-1 align-items-center bg-white">
      <div class="col-md-auto">
        <span class="fa fa-lightbulb-o"></span>
      </div>
      <div class="pl-2">
        <h3>Lighting Replacement</h3>
      </div>
    </div>
    <!-- Baseline -->
    <div class="d-flex">
      <div class="scroll-item p-0 col-8 d-flex bg-white" [ngStyle]="{'height.px': containerHeight}">
        <div class="w-50">
          <div class="header mr-2 ml-2">
            <h3>Baseline</h3>
          </div>
          <div class="d-flex flex-column ml-4 mr-4 mb-4">
            <div class="p-2">
              <a class="click-link pull-right small" (click)="addBaselineFixture()">+Add Fixture</a>
            </div>
            <div class="pb-2" *ngFor="let data of baselineData; let index = index;">
              <label class="group-label w-100 bold"><span class="fa fa-lightbulb-o pr-2"></span>Fixture #{{index+1}}
                <span *ngIf="baselineData.length != 1" class="fa fa-times-circle-o pull-right large" (click)="removeBaselineFixture(index)"></span></label>
              <app-lighting-replacement-form [data]="data" (emitCalculate)="calculate()" (emitFocusField)="focusField($event)"></app-lighting-replacement-form>
            </div>
            <div class="w-100 justify-content-center">
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-danger pull-right btn-sm m-2" (click)="btnResetData()">
                  Reset Data
                </button>
              </div>
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-primary pull-left btn-sm m-2" (click)="showSaveCalcModal()">Save
                  to Folder
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modifications Start -->
        <div *ngIf="modificationExists" class="w-50">
          <!-- Modification Header -->
          <div class="header mr-2 ml-2">
            <h3>Modification</h3>
          </div>
          <!-- Forms -->
          <div class="d-flex flex-column ml-4 mr-4 mb-4">
            <div class="p-2">
              <a class="click-link pull-right small" (click)="addModificationFixture()">+Add Fixture</a>
            </div>
            <div class="pb-2" *ngFor="let data of modificationData; let index = index;">
              <label class="group-label w-100 bold"><span class="fa fa-lightbulb-o pr-2"></span>Fixture #{{index+1}}
                <span *ngIf="modificationData.length != 1" class="fa fa-times-circle-o pull-right large" (click)="removeModificationFixture(index)"></span></label>
              <app-lighting-replacement-form [data]="data" (emitCalculate)="calculate()" (emitFocusField)="focusField($event)"></app-lighting-replacement-form>
            </div>
          </div>
        </div>
        <!-- No content message -->
        <div class="w-50" *ngIf="!modificationExists">
          <div class="header mr-2 ml-2">
            <h3>Modification</h3>
          </div>
          <div class="p-3 no-data">
            <h3>
              Once you have set up your baseline..
            </h3>
            <button type="button" class="btn btn-primary" (click)="addModification()">Add Modified Condition</button>
            <p>Data will be copied from your current baseline condition.</p>
          </div>
        </div>
      </div>

      <!-- Help Panel -->
      <div class="col-4 p-0 help-panel">
        <div class="d-flex flex-column mh-100 scroll-item">
          <div class="d-flex flex-wrap tabs primary mr-2 ml-2 sticky-top">
            <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'results'}">
              <a class="border-left-0 h-100 d-flex justify-content-center align-items-center" (click)="setTab('results')">
                <div>Results</div>
              </a>
            </div>
            <div class="flex-fill panel-tab-item h-100" [ngClass]="{'active': tabSelect == 'help'}">
              <a class="h-100 d-flex justify-content-center align-items-center" (click)="setTab('help')">
                <div>Help</div>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-center pl-2 pr-2">
            <app-lighting-replacement-results *ngIf="tabSelect == 'results'" [baselineData]="baselineData"
              [modificationData]="modificationData" [baselineResults]="baselineResults" [modificationResults]="modificationResults"></app-lighting-replacement-results>
            <app-lighting-replacement-help *ngIf="tabSelect == 'help'" [currentField]="currentField"></app-lighting-replacement-help>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #saveCalcModal="bs-modal" class="modal fade hide-print" tabindex="-1" role="dialog" aria-labelledby="saveCalcModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-md hide-print">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Save Calculator to Folder</h3>
        <button class="close" (click)="closeSaveCalcModal(true)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="saveCalcForm">
          <div class="d-flex flex-column">
            <div class="p-2">
              Selected Directory: 
              <span class="text-info">{{selectedDir.name}}</span>
            </div>

            <div class="d-flex flex-column folder-tree folder-tree-root p-2">
              <app-folder-explorer [root]="root" [padding]="0" [inceptionLevel]="0" (emitUpdateDirectoryId)="selectDir($event)"></app-folder-explorer>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="d-flex flex-row">
          <div class="px-2 btn-group btn-group-sm">
            <button type="button" class="btn btn-sm btn-primary">Save</button>
          </div>
          <div class="px-2 btn-group btn-group-sm">
            <button type="button" class="btn btn-sm btn-danger" (click)="closeSaveCalcModal(true)">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>