.icon-align {
    vertical-align: middle;
}

.directory-tree-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
        supported by Chrome and Opera */
}

/* .directory-tree-item .selected { */

.selected {
    background-color: #0069d9 !important;
    color: #fff;
}